@charset "utf-8";


@font-face {
    font-family:'NanumCoding';
    font-weight:normal;
    src:url(../font/NanumGothicCoding.ttf);
}
@font-face {
    font-family:'NanumCodingBold';
    font-weight:bold;
    src:url(../font/NanumGothicCoding-Bold.ttf);
}
@font-face {
    font-family:'consola';
    font-weight:normal;
    src:url(../font/consola.ttf);
}
@font-face {
    font-family:'consolaBold';
    font-weight:bold;
    src:url(../font/consolab.ttf);
}



.consola{
    font-family:'consola';
}
.consolaBold{
    font-family:'consolaBold';
}
