* {
margin: 0;
padding: 0;
}
html {
font-size: 10px;
overflow-x: hidden;
}
body {
font-size: 1.6rem;
color: #333;
}
img {
border: 0;
}
a {
text-decoration: none;
color: #333;
}
a:visited,
a:hover,
a:focus,
a:link {
text-decoration: none;
color: #333;
}
ul,
ol,
li {
list-style: none;
}
.fl {
float: left;
}
.fr {
float: right;
}
.cb {
clear: both;
}
.oh {
overflow: hidden;
}
.cf::after {
content: "";
display: block;
clear: both;
}
.cAlign {
display: flex;
vertical-align: middle;
align-items: center;
}
.rL {
position: relative;
}
.blind {
width: 1px;
height: 1px;
border: 0;
margin: -1px;
padding: 0;
overflow: hidden;
position: absolute;
}
.hide {
display: none;
}
.show {
display: block;
}

